@model ilight.Models.Users

@{
    ViewBag.Title = "resetPassword";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
    <div class="header-main">
        <h2>Reset Password</h2>
    </div>
    <div class="Reset">
            <img class="login-logo" src="~/images/iLight_logo.png" alt="Bild på logo" />
                <p class="input-msg">Please Enter your Email</p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-space", @Placeholder = "Email-Address",@Type="email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-flat btn-reset">Reset Password</button>
                <div class="col-xs-12">
                    <a href="@Url.Action("login", "account")">Return to Login</a>
                </div>
            </div>
         </div>
        </div>
        }
